.chat{
    flex: 0.65;
    flex-direction: column;
    display: flex;
}
.chat .chat__header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(73, 73, 73);
    background-color: #081823;
    padding: 10px;
}

.chat__headerInfo{
    flex: 1;
    margin-left: 10px;
}

.chat__headerInfo h3{
    font-size: 16px;
    color: white;
}
.chat__headerInfo p{
    font-size: 12px;
    color: white;
}
.header__right svg{
    font-size: 18px;
    color: white;
}
.chat__body{
    background-color: #091112;
    flex:1;
    padding: 25px 10px;
    overflow-y: auto;
}
.chat__message{
    position: relative;
    background-color: #0edcf8;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 30px;
}

.chat__name{
    color: white;
    position: absolute;
    top: -18px;
    left: 2px;
    font-size: 10px;
    font-weight: bold;
}
.chat__time{
    font-size: 10px;
    margin-left: 10px;
}
.chat__receiver{
    background-color: #d6f8c6 ;
    margin-left: auto;
}
.chat__footer{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0D1B24;
}
.chat__footer svg{
    padding: 10px;
    color: white;
}
.chat__footer form{
    flex: 1;
}
.chat__footer form input[type="text"]{
    border: 0;
    height: 40px;
    outline: 0;
    width: 98%;
    background-color: #1e4054;
    border-radius: 6px;
    padding-left: 15px;
    color: white;
}
.chat__footer form input[type="submit"]{
    display: none;
}
