.sidebar {
    flex: 0.35;
    background-color: #0A141B;
    border-right: 1px solid rgb(73, 73, 73);
    overflow: auto;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0D1B24;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 999;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}



.sidebarHeaderIcons {
    position: absolute;
    font-size: 30px !important;
    color: white !important;
    padding: 12px 12px !important;
    border-radius: 50% !important;
    left: -50px;
}

.sidebarHeaderIcons:hover {
    background-color: #1e4054;
}

.MuiSvgIcon-root {
    padding: 0 20px;
    color: black;
}


.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #0D1B24;
    height: 40px;
    padding: 9px;
    width: 100%;
}

.side__searchContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 35px;
    border-radius: 20px;
    width: 100%;
}

.side__searchContainer input {
    border: 0;
    margin-left: 10px;
    outline: 0;
    width: 100%;

}

.sidebar__chat {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #eaeaea; */
    padding: 20px;
    color: white;

}

.sidebar__chats {
    display: flex;
    flex-direction: column;
    background-color: #0A141B;
}

.sidebar__chat:hover {
    cursor: pointer;
    background-color: #00ACDA;
}

.sidebar__chatInfo {
    margin-left: 15px;

}

.sidebar__chatInfo h2 {
    font-size: 16px;
    color: white;
}

.sidebar__chatInfo p {
    font-size: 12px;
    color: white;
}

.sidebar__chat>h2 {
    font-size: 18px;
    margin-left: 10px;
}

.sidebar__chat .MuiAvatar-circular {
    width: 30px;
    height: 30px;

}